.layout{
   
    text-align: center;
    display: grid;
    place-content: center;
    color: #eaeaea;
}

.container{
    margin-bottom: 10px;
}

.container div{
    margin-top: 10px;
   background:#121212;
   padding: 15px;
   border-radius: 7px;
   transition: 0.4s ease;

   display: grid;
   grid-template-columns: 0.95fr 0.05fr;
   align-items: center;
}




@media (prefers-color-scheme: light) {
    .container div:hover{
    
    background:#12121299;
    
    }
}

@media (prefers-color-scheme: dark) {
   .container div:hover{
   
   background:#eaeaea50;
  
}
}